<a href="https://colab.research.google.com/github/Mayuri-thatikonda/Covid-19-india/blob/main/Covid_19_India.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('Covid-19 India.csv')

In [3]:
dataset.head()

             State/UTs  Total Cases  Active  Discharged  Deaths
0  Andaman and Nicobar         7525      14        7382     129
1       Andhra Pradesh      1952513   22358     1916914   13241
2    Arunachal Pradesh        45703    4465       41025     213
3                Assam       557437   15726      536597    5114
4                Bihar     72439075     530      714223    9637

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   State/UTs    36 non-null     object
 1   Total Cases  36 non-null     int64
 2   Active       36 non-null     int64
 3   Discharged   36 non-null     int64
 4   Deaths       36 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.5+ KB

In [5]:
dataset.isnull().sum()

State/UTs      0
Total Cases    0
Active         0
Discharged     0
Deaths         0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['State/UTs'] = le.fit_transform(dataset['State/UTs'])
print(dataset)

    State/UTs  Total Cases   Active  Discharged  Deaths
0           0         7525       14        7382     129
1           1      1952513    22358     1916914   13241
2           2        45703     4465       41025     213
3           3       557437    15726      536597    5114
4           4     72439075      530      714223    9637
5           5        61922       32       61081     809
6           6      1001037     2789      984737   13511
7           7        10637       48       10585       4
8           8      1435844      587     1410216   25041
9           9       170416     1238      166052    3126
10         10       824683      342      814265   10076
11         11       769717      740      759360    9617
12         12       205017      931      200573    3513
13         13       320491     1319      314798    4374
14         14       346918      276      341518    5124
15         15      2893556    23928     2833276   36352
16         16      3254064  1386262     3099469   15969
17         17        20296       68       20021     207
18         18        10127       81        9997      49
19         19       791738      149      781077   10512
20         20      6258079    96833     6029817  131429
21         21        91460    10251       79744    1465
22         22        60597     4708       54875    1014
23         23        31145     7772       23238     135
24         24        27240     1312       25390     538
25         25       965715    17201      943069    5445
26         26       120227      922      117518    1787
27         27       598741      771      581712   16258
28         28       953522      328      944242    8952
29         29        24823     2849       21644     330
30         30      2546689    24025     2488775   33889
31         31       640659     9625      627254    3780
32         32        76315     3934       71642     739
33         33      1708152      932     1684471   22749
34         34       341673      611      333703    7359
35         35      1522833    11891     1492878   18064

In [7]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [12]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

[[22727.5 33889. ]
 [ 5478.9  7359. ]
 [14286.5  8952. ]
 [ 9075.9  5114. ]
 [ 9830.8 10512. ]
 [  228.4   207. ]
 [  908.2  1465. ]
 [  454.1   135. ]]

0.7962636344306315